################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testing2/testing2/.vs/testing2/v15/Server/sqlite3
