################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testing2/testing2/.vs/testing2/v15/Server/sqlite3
/testing2/testing2/testing2/bin/Debug
/testing2/testing2/testing2/obj/Debug
/testing2/testing2/packages/odp.net.x64.112.3.0
/testing2/testing2/.vs
/testing2/testing2/GettingStartedHost/bin
/testing2/testing2/GettingStartedHost/obj
/testing2/testing2/GettingStartedLib/bin
/testing2/testing2/GettingStartedLib/obj
/testing2/testing2/MvcMovie/bin
/testing2/testing2/MvcMovie/obj
/testing2/testing2/WebFormsTest/bin
/testing2/testing2/WebFormsTest/obj
/testing2/testing2/WingtipToys/bin
/testing2/testing2/WingtipToys/obj



